* {
  background-color: black;
  color: #f16a1f;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: .2s all ease;
}

.TopHeading {
  display: inline-block;
  font-size: 2rem;
}

.ExtraCSS {
  border-radius: 50px;
  border-top: 5px solid #fa1401;
  padding: 20px;
}

.Hr {
  border: 1px solid #f16a1f;
  background-color: #f16a1f;
  border-radius: 10px;
  margin: 0 auto 0 auto;
  padding: 3px;
  width: 85%;
}

.TopMar {
  margin-top: 3rem;
}

.BotMar {
  margin-bottom: 3rem;
}

.TBMar {
  margin: 3rem 0 3rem 0;
}

.MarGin {
  margin: 1rem;
}

.SmallPad {
  padding: 10px;
}

.Options {
  border: 2px solid #f16a1f;
  cursor: pointer;
  border-radius: 50px;
  margin: .8rem auto .8rem auto;
  padding: 3px;
  transition: .3s all ease;
  width: 95%;
}

.TopCharacters {
  width: 20rem;
}

.FA {
  margin-right: 10px;
}

.Dattebayo {
  font-size: 3.5rem;
}

/* NAVBAR SECION */
#navbar {
  background-color: #f16a1f;
  height: 3rem;
  padding: 4px;
}

.NavImage {
  width: 5.5rem;
  border-radius: 500px;
}

.NarutoName {
  margin: 5rem 0 3rem 0;
}

/* RAMEN SECTION */
.NRamen {
  width: 20rem;
  transition: .3s all ease;
}

/* NARUTO-ETAILS SECTION */
.Details {
  border: 3px solid #f16a1f;
  border-radius: 15px;
  line-height: 1.3;
  margin: 0 auto 0 auto;
  padding: 1rem;
  width: 90%;
}

.DetailsSymbol {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0 auto;
  width: 20rem;
}

.Team7 {
  display: flex;
  justify-content: space-around;
}

.Team7Members {
  width: 15rem;
}

.Team7Names {
  margin: 1rem 3rem 3rem 3rem;
  transition: 1s all ease;
}

.Kurama {
  margin: 0 auto 0 auto;
  width: 50%;
}

.User {
  border: 2px solid #f16a1f;
  border-radius: 5rem;
  padding: .5rem;
  width: 10rem;
}

.User:hover {
  border: 2px solid #ffff;
}

.Winner {
  width: 7rem;
}

/* VILLIANS SECTION */
#villians {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Vcontainer {
  border: 3px solid #f16a1f;
  border-radius: 5px;
  margin: 1rem;
  height: 10rem;
  width: 10rem;
}

.VimgConatiner {
  height: 8rem;
  width: 9.93rem;
}

.VilliansImg {
  width: 80%;
}

.VillianText {
  margin-top: 5px;
}

.Vhr {
  border-color: #f16a1f;
  background-color: #f16a1f;
  padding: 1px;
}

.Vdown {
  border: 3px solid #f16a1f;
  border-radius: 50px;
  font-size: 2rem;
  margin-left: 1rem;
  padding: .8rem;
  transition: .9s all ease;
}

.Rotate {
  transform: rotate(180deg);
  transition: .9s all ease;
}

.BZ {
  width: 91%;
}

.Haku {
  margin-top: 1px;
  width: 80.22%;
}

.Itachi {
  width: 85.5%;
}

.Kabuto {
  margin-right: 50px;
  width: 73%;
}

.Kaguya {
  margin-right: 49px;
  width: 80.60%;
}

.Kimimaro {
  width: 80.55%;
}

.Kisame {
  margin-top: 12px;
}

.Konan {
  width: 90%;
}

.Madara {
  margin-top: 4.50px;
  width: 78%;
}

.Orichimaru {
  margin-top: 1px;
}

.Zabuza {
  width: 69.5%;
}

.Obito {
  margin-top: 3px;
  width: 100%;
}

.Kakuzu {
  width: 71%;
}

.Danzo {
  width: 63%;
}

/* FOOTER SECTION */
#footer {
  border: 3px solid #f16a1f;
  border-radius: 5px;
  margin: auto;
  width: 98%;
}

.DevDetailsContaiiner {
  display: flex;
}

.DevInfo {
  padding: 1rem;
  width: 50%;
}

.D1 {
  border-top: 3px solid #f16a1f;
  border-right: 3px solid #f16a1f;
  display: flex;
  justify-content: space-between;
}

.D2 {
  border-top: 3px solid #f16a1f;
}

.DevText {
  margin: auto;
  width: 20rem;
}

.DeveloperImg {
  border: 3px solid #f16a1f;
  border-radius: 100px;
  width: 10rem;
}
.Ftext {
  font-size: .9rem;
}
/* MEDIA QUERIES */
@media(min-width:1330px) {

  /* RAMEN SECTION */
  .NRamen:hover {
    cursor: pointer;
    width: 22rem;
  }

  /* NARUTO DETAILS SECTION */
  .Hover:hover {
    width: 99%;
    transition: .3s all ease;
  }

  /* VILLIANS SECTION */
}

@media(max-width:1000px) {
  .TopHeading {
    font-size: 3rem;
  }

  .TopCharacters {
    width: 49%;
  }

  .FA {
    font-size: 2rem;
    margin-right: 10px;
  }

  .fa-star {
    margin: 15px;
  }

  /* NAVBAR SECTION */
  .SpecialNavImg {
    width: 7.5rem;
  }

  /* RAMEN SECTION */
  .NRamen {
    width: 30rem;
    transition: .3s all ease;
  }

  /* NARUTO-DETAILS SECTION */
  .Kurama {
    width: 95%;
  }

  .User {
    border: 2px solid #f16a1f;
    border-radius: 5rem;
    font-size: 2rem;
    padding: 1rem;
    width: 15rem;
  }

  .Options {
    padding: 15px;
  }

  .Team7Names {
    font-size: 1.7rem;
  }

  /* VILLIANS SECTION */
  .Vcontainer {
    width: 19rem;
    height: 19rem;
  }

  .VimgConatiner {
    height: 15.2rem;
    width: 18.93rem;
  }

  .VillianText {
    font-size: 2rem;
    margin-top: 15px;
  }

  .Vdown {
    border-radius: 5rem;
    font-size: 3rem;
    padding: 2rem;
  }

  .Kabuto {
    margin-right: 90px;
  }

  .Kaguya {
    margin-right: 80px;
  }

  .Kisame {
    margin-top: 20px;
  }

  .Madara {
    margin-top: 8.20px;
  }

  /* FOOTER SECTON */
  .Ftext {
    font-size: 1.35rem;
  }
}

@media(max-width:800px) {
  /* NAVBAR SECION */
  /* NARUTO-DETAILS SECTION */
  .Team7{
    display: none;
  }
  .T7{
    display: none;
  }
  .SmallDisplayMar{
    margin-top: 3rem;
    }
  }
